<header>
	<h1><a href="/asanas">yoga asanas</a></h1>
</header>

<div class="container">
	<h2><%= @asana.name %></h2><br>
	<h3>"<%= @asana.translation %>"</h3>
	<img src="<%= @asana.image %>">
	<h3>Type:</h3>
	<p><%= @asana.asana_type %></p>
	<h3>Similar Poses:</h3>
	<p><%= @asana.similar_poses %></p>
</div>

<footer>
	<form class="delete show-btn" method="post" action="/asanas/<%= @asana.id %>">
		<input type="hidden" name="_method" value="delete">
		<input class="btn" type="submit" value="DELETE">
	</form>

	<form class="edit show-btn" method="post" action='/asanas/<%= "#{@asana.id}" %>/edit'>
		<input type="hidden" name="_method" value="get">
		<input class="btn" type="submit" value="EDIT">
	</form>
</footer>